language: android
jdk:
  - oraclejdk8
android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    - tools
    - tools
    - platform-tools



    # The BuildTools version used by your project
    - build-tools-24.0.2

    # The SDK version used to compile your project
    - android-24
    - android-22

    # Additional components
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository

    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    - sys-img-armeabi-v7a-android-22
    #- sys-img-x86-android-24

  licenses:
    - 'android-sdk-preview-license-.+'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'
script:
  - ./build.sh

notifications:
  slack: cltmobilemeetup:eIKxudoK0MDC6hBw7zkhxByT

after_failure:
  - cat /home/travis/build/cltmobilemeetup/trail-of-history-android/app/build/outputs/lint-results-debug.xml
  - cat /home/travis/build/cltmobilemeetup/trail-of-history-android/ranger/build/outputs/lint-results-debug.xml